<div class="back">
	<div class="logo">
		<img src="../assets/if.png">
		<div class="info">
			BEM VINDO AO MAZE
			<br>
			Você é um perito que foi contratado para investigar uma invasão ao Banco Tedesco. Tudo o que se sabe é que alguns dados foram roubados. Descubra o resto e se possivel, capture o cracker. Boa sorte!
		</div>
	</div>
</div>

<div class="foot">
	<div class="row">
		<div class="col">
			<a [routerLink]="['/principal']" style="text-align: center;"><i class="fas fa-undo-alt"></i></a>
		</div>
	</div>
</div>